body 
{
    font-family: Segoe UI Light; 
    letter-spacing: 1px;
    margin: 40;
    padding: 0;
    background-color: #f7f7f7
}
/*LOGUEO-----------------------------------------------------------*/
.btnLogueo{  
    background: White;
    border-color: #4ebaab;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    font-family: 'Century Gothic';
    font-size: medium;
    color: #4ebaab;
    height: 90%;
    width: 90%;
    border-radius: 4px;      

}
.btnLogueo:hover{
    background: #4ebaab;
    color:White;
    transition: all .3s;
}
#textbox {
    border:2px solid #deebf2;
    border-radius:4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}
.txt:focus{
    border-color: #4ebaab;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
/*-----------------------------------------------------------------*/
/*MASTER PAGE------------------------------------------------------*/
.navegacion{
    margin: 30px auto;
    width:80%;
    background: #415C71;
    color:#fff;
}

.navegacion ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu{
    width: 100%;
    padding: 0;
    margin: 0;
}
.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.menu li a:hover{
    background: #4ebaab;
    transition: all .3s;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
.item-r{
    float: right;
    padding: 15px;
    margin: auto;
}

.tablaForm{
    margin: -30px auto;
    padding: 0;
    width:80%;
    background: #fff;
}
/*------------------------------------------------------------------*/
.title
{
    font-size: 20px;
    font-family: Arial;
    color: #415C71;
}
.btns
{
    color: White;
    background: #4ebaab;
    width: 230px;
    height: 40px;
    font-weight:bold;
    font-size: 15px;
    border: 0;
    border-radius: 4px;
}
.btns:hover{
    background: #6fcec1;
    transition: all .3s;
}

